<section class="cardCharPersonalInput">
    <form name="myform"
          ng-submit="charPersonalInput()"
        novalidate>

     <div class="textintro">
            <h1>Charater Creation Sheet</h1>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>
  
        <fieldset>        
                <form>
                    <div><h1></h1>
                        
                        <ul class="info">
                            <li><h4>Character&nbsp;<input type="text" id="character"></h4></li>
                            <li><h4>Player&nbsp;<input type="text" id="player"></h4></li>
                            <li><h4>Class&nbsp;<input type="text" id="plClass"></h4></li>
                            <li><h4>Level&nbsp;<input type="text" id="level"></h4></li>
                            <li><h4>Occupation&nbsp;<input type="text" id="Occupation"></h4></li>
                            <li><h4>Alignment&nbsp;<input type="text" id="Alignment"></h4></li>
                            <li><h4>&nbsp;&nbsp;&nbsp;Sex&nbsp;<input type="text" id="sex"></h4></li>
                            <li><h4>Age&nbsp;<input type="text" id="age"></h4></li>
                            <li><h4>Height&nbsp;<input type="text" id="height"></h4></li>
                            <li><h4>Weight&nbsp;<input type="text" id="weight"></h4></li>
                            <li><h4>Hair Color&nbsp;<input type="text" id="hair"></h4></li>
                            <li><h4>Eye Color&nbsp;<input type="text" id="eye"></h4></li>        
                        </ul>
                    </div>
                </form>
        </fieldset>
    
    
    
    
    
   



